
	<div class="container">
		<h1 id="page_title">ten.io url shortener</h1>
    <!-- <%# if @env %>
      <h2><%#= @env %></h2>
    <%# end %> -->
    <div id="submit_form" class="hidden_item">
  		<form method="post">
  			<input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
  			<input type="submit" value="shorten" id="submit" />
  		</form>
  		<div class="clear"></div>
  		<% if @shortcode %>
  		<div class="result">
  			Your shortened URL is:
  			<a href="http://ten.io/<%= @shortcode %>">http://ten.io/<%= @shortcode %></a>
  		</div>
  		<% end %>
		</div>
		
		<p>POST to http://ten.io with { "url" : "http://andrewgertig.com" }</p>
		<p>The response will be of the form { "url" : "http://ten.io/ertb" }</p>
		
	</div>

